/* General reset */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 10px;
    font-family: Roboto, Montserrat, sans-serif;
}

/* CONTAINER GLOBAL */
.general-container {
    max-width: 1200px;
    margin: auto;
} 

/* BARRE DE RECHERCHE */
.search-container {
  padding-top: 5.87rem;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  /* margin-left: 30rem; */
}

.filter_responsive {
    display: none;
}

#best_match {
    width:27.43rem;
    font-family: Robot,Montserrat,sans-serif;
    border-left:none ;
    border-right:none;
    border-top:none;
    border-bottom-width: medium;
    border-bottom-color: rgb(197, 193, 193);
    border-bottom-style: solid;
    background: transparent;
    font-size: large;
    outline-style: none; 
}

#site-search {
    background: transparent;
    border-top:  none;
    border-bottom: solid;
    border-left: none;
    border-right:none;
    width:87rem;
    padding-bottom: 0.78rem;
    font-family: Roboto,Montserrat,sans-serif;
    margin-right: 7.05rem;
    margin-left: 3.91rem;
    font-size: large;
    font-weight: bold;
    outline-style: none;
}

/* DEBUT FLEX CACTUS */
.container-flex-cactus {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    /* margin-left: 28rem; */
}

/* FILTER MENU */
li {
    list-style-type: none;
}

.menu {
    margin: 0;
    border-radius: 0.2rem;
    overflow: hidden;
}

.menu .filter-by {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1.4rem;
}

.menu .deroulant-item {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu a {
    text-decoration: none;
    font-size: 1.3rem;
}

.menu a .btn {
    padding-top: 0;
}

.menu p {
    margin-bottom: 1.5rem;
    color: lightgray;
}

.menu-item {
    list-style: none;
    overflow: hidden;
}

.menu .btn {
    display: block;
    padding: 1rem 0.01rem;
    padding-bottom: 0.7rem;
    font-weight: 400;
    background-color: #FFF;
    color: #000;
    position: relative;
    border-bottom: 2px solid lightgrey;
}

.btn i {
    float: right;
    padding-right: 1rem;
}

.btn:hover {
    color: grey;
    transition: color 0.5s;
}

.btn::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 1.5rem;
    bottom: -0.5rem;
}

.menu-item__sub {
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
    line-height: 0.5rem;
}

.menu-item__sub a {
    display: block;
    padding: 1rem 1.6rem;
    color: #000;
    position: relative;
    text-decoration: none;
}

.menu-item__sub a:hover::before {
    opacity: 1;
    transform: translateX(0);
}

.menu-item__sub a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.4rem;
    height: 100%;
    background: #F5F5F5;
    transform: translateX(-0.4rem);
    transition: 0.3s;
    opacity: 0;
}

.menu-item:target .menu-item__sub {   /* target=id in html via ancre */
    max-height: 10em;
}

.menu_sub_filter {
    padding-top: 1rem;
}


/* PRICETAG */
.container_priceTag {
    margin-top: 5rem;
}

.container_priceTag p {
    color: black;
    font-weight: 400;
    font-size: 1.2rem;
}

.price-range {
    max-width: 30rem;
    display: flex;
    margin-bottom: 1.5rem;
}

.circle {
    height: 14px;
    width: 14px;
    border: black 2px solid;
    border-radius: 50%;
}
    
.line {
    margin-top: 8px;
    height: 2px;
    width: 280px;
    background-color: lightgray;
}
    
.price-tag {
    max-width: 30rem;
    padding-left: 0.1rem;
    display: flex;
    justify-content: space-between;
}
    
.container_priceTag .price-tag p{
    font-size: 1rem;
    color: grey;
    font-size: 1.3rem ;
}


/* CACTUS */
.box {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 30rem;
    max-height: 42rem;
    margin: auto;
    padding-left: 1.2rem;
}

.container .cactus {
    height: 25rem;
    width: 30rem;
}

.colonne1 {
    padding: 0.5rem 1.6rem;
}

.box .colonne1 h2 {
    font-size: 1.6rem;
    font-weight: 700;
}

.box .colonne1 h3 {
    padding-top: 0.8rem;
    padding-bottom: 0.6rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 300;
    color: rgb(153, 153, 153);
}

.colonne2 {
    padding: 0.5rem 1.6rem;
    text-align: right;
}

.colonne2 p {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(59, 58, 58);
}

.colonne2 img {
    padding-top: 1.2rem;
}

.colonne2 img:hover {
  transition: ease-in-out 0.5s;
  transform: scale(1.2);
  transform: rotate(5deg);
}

.box .colonne1 h3 {
    padding-top: 0.8rem;
    padding-bottom: 0.6rem;
    text-transform: 
    uppercase;
    font-weight: 300;
    color: rgb(153, 153, 153);
}


